* {
    margin: 0;
    padding: 0;
   /* font-family: "Inter", sans-serif; */
     box-sizing:border-box;
    
}

body{
    background: white;

}

#box1{
    background-color:  #e1750a;
    position: absolute;
    top: 30px;
}
