* {
    margin: 0;
    padding: 0;
   /* font-family: "Inter", sans-serif; */
     /* box-sizing:border-box;
      */
      
    
    
}

body{
    cursor: url("image/cur.png") 16 16, auto; 
  
}









:root {
    --saffron: #e1750a;
    --white: #ffffff;
    --green: #138808;
    --navy-blue: #000080;
    --gold: #d4af37;
    --Silver: #C0C0C0;
    --Bronze: #CD7F32;
    --Background: #F5F7FA;
    --dark-blue:rgb(0, 0, 100);

      --heading-font:'Bebas Neue', sans-serif;
    --body-font:'Poppins', sans-serif;

    

}

.nav-header{
    background: #ffffff;
    /* box-shadow: 0PX 5PX 5PX rgb(36, 36, 36); */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;

    font-family: var(--heading-font);
    z-index: 10000;
}

.nav-logo{
      width: 150px;
      margin-left: -110PX;
      
}
#nav-menu {
    
   
    /* width: 700px; */
    
}
.nav-link{
      
    margin: 15px;
    font-size: 1.2rem;
    font: 900;
    color: var(--navy-blue);
     text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in;
    /* cursor: pointer; */
    position: relative;
    letter-spacing: 1.5px;
   
}
.nav-link:hover{
    color: var(--saffron);
  
      
}

.nav-link::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0; 
  
    width: 0%;
    height: 3px;
    background-color: var(--saffron);
    transition: all 0.3s ease;
}
.nav-link:hover:before{
    width: 100%;

}

.nav-link.active {
    color: var(--saffron);
}

.nav-link.active::before {
    width: 100%;
}






/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */




#foot-container{
    display: flex;
    justify-content: space-around;
}
.first-foot{

    width: 400px;

}
.first-foot img{
    width: 15rem;
}

.first-foot p{
    font-family: var(--body-font);
    font: 100;
    font-size: 1rem;
    margin-top: -25px;
}
.social-icon{
    margin-top: 20px;
}



.social-icon a img{
    width: 40px;
    margin: 10px;
    transition: all 0.2s ease-in;
    border-radius: 20px;
     box-sizing: border-box;
}

.social-icon a img:hover{
   
    border: 3px solid var(--dark-blue);
    
    padding: 5px;
}

.sec-foot{
      font-family: var(--body-font);
    margin-top: 30px;
}

.sec-foot h5{
    font-size: 1.4rem;
    color: rgb(192, 190, 190);
    font-weight: 500;
    
}

.sec-foot ul li {
    list-style: none;
    font-size: 1.2rem;
} 

.sec-foot ul li a {
    text-decoration: none;
    color: black;
}


.third-foot{
     font-family: var(--body-font);
    margin-top: 30px;
    text-align: right;
}

.third-foot h5{
        font-size: 1.4rem;
    color: rgb(192, 190, 190);
    font-weight: 500;
    
    

}

.third-foot h3{
    font-size: 1.2rem;
    color: var(--saffron);
}
.third-foot h4{
    font-size: 1rem;
    color: var(--green);
    font-weight: 400;
}

#own{
    text-align: center;
    background: var(--dark-blue);
}

#own h2 {
 font-family: var(--body-font); 
  font-weight: 200;
    color: var(--white);
    font-size: 1rem;
    padding: 5px; 
  
}
#own h3{
    font-family: var(--body-font); 
  font-weight: 200;
    color: var(--white);
    font-size: 1rem;
    

}
#ft-hr{
    color: red;
    border: 1px solid var(--navy-blue); 
}


 